body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
}

.header {
    background-color: #1F2937;
    display: flex;
    color: white;
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    height: 40px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;
    font-size: 18px;
}

.description {
    /* padding-left: 100px;
    padding-right: 100px; */
    background-color: #1F2937;
    flex: auto;
    color: white;
    display: flex;
    padding: 50px 100px;
    gap: 20px;
}

.intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image {
    flex: 1;
    /* background-color: gray; */
    text-align: center;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
}

ul {
    margin: 0px;
}

.description button {
    width: 100px;
    background-color: dodgerblue;
    border-radius: 5px;
    border: 0px;
    padding: 5px 0px;
    color: white;
}

.info {
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
    /* flex: 0 0 100%; */
    /* flex-basis: 100%; */
    height: 1000px;
    display: flex;
    flex-direction: column;
}

/* add all these elements into parent flexbox instead? */

.services {

}

.quote {
    background-color: lightgrey;
}

.action-call {

}

.footer {
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    color: white;
}